:root {
  --text-primary: #000; /* สีข้อความหลัก */
  --bgPrimary: #fff; /* สีพื้นหลังหลัก */
  --bgSecondary: #f9f9f9; /* สีพื้นหลังรอง */
  --pink: #2799f0; /* สีชมพู */
  --light-blue: #e6f7ff; /* สีฟ้าอ่อน */
  --border: #d9d9d9; /* สีเส้นขอบ */
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hyperlink hover color */
a:hover {
  color: var(--pink) !important; /* สีเมื่อเม้าส์วางที่ลิงก์ */
}

/* Main Application Container */
.app {
  display: flex;
  overflow: hidden;
}

/* Navigation Bar */
.navbar {
  flex: 0.2;
  background-color: rgb(211, 234, 245); /* สีพื้นหลังของแถบนำทาง */
}

/* Main Content Container */
.main {
  flex: 0.8;
  width: 100%;
}

/* Routes */
.routes {
  padding: 20px;
}

/* Navigation Container */
.nav-container {
  position: fixed;
  left: 0;
  margin: 10px;
  height: 100vh;
  margin: 0px;
  background-color: rgb(18, 42, 78); /* สีพื้นหลังของเมนู */
}

/* Logo Container */
.logo-container {
  background-color: #5dadfc; /* สีพื้นหลังโลโก้ */
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}

/* Logo */
.logo {
  margin: 0 0 0 15px;
}

/* Logo Link */
.logo a {
  color: white;
}

/* Menu Control Container */
.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

/* Loader */
.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
  .main {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1170px) {
  .main {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 100px;
  }
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar {
    flex: 1;
  }

  .main {
    flex: 1;
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }

  .menu-control-container {
    display: block !important;
  }

  .ant-menu {
    position: absolute;
    right: 0px;
  }

  /* Additional styles for smaller screens */
  .home-title {
    font-size: 1.4rem !important;
  }

  .show-more {
    font-size: 1.3rem !important;
  }
}

/* Coin Detail Container */
.coin-detail-container {
  margin: 30px;
}

/* Coin Heading Container */
.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

/* Coin Name */
.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink); /* สีชื่อเหรียญ */
}

/* Coin Description */
.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

/* Statistics Container */
.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

/* Statistics Title */
.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink); /* สีข้อความสถิติ */
}

/* Coin Details Heading */
.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
}

/* Coin Stats */
.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

/* Coin Stats Name */
.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

/* Statistics */
.stats {
  font-weight: 800;
}

/* Coin Value Statistics Heading */
.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

/* Coin Description and Links Container */
.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

/* Coin Description and Links Heading */
.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink); /* สีข้อความคำอธิบายเหรียญและลิงก์ */
}

/* Coin Description */
.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

/* Coin Links */
.coin-desc-link a {
  color: var(--pink); /* สีลิงก์ */
}

/* Coin Links Heading */
.coin-desc-link h3 {
  font-weight: 700;
}

/* Coin Description Container */
.coin-desc {
  flex: 0.5;
}

/* Coin Links Container */
.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

/* Coin Link */
.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

/* Link Name */
.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

/* Coin Link Anchor */
.coin-link a {
  color: var(--pink); /* สีลิงก์เหรียญ */
  font-weight: 700;
  font-size: 1rem;
}

/* Hover effect for Coin Link and Coin Stats */
.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}

/* Additional Styles for News Section */

/* Select for News */
.select-news {
  width: 180px;
}

/* News Card */
.news-card {
  min-height: 300px !important;
}

/* News Image Container */
.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}

/* News Title */
.news-title {
  width: 70%;
}

/* News Image */
.news-image-container img {
  width: 100px;
  height: 100px;
}

/* News Text */
.news-card p {
  color: black;
  margin: 10px 0px !important;
}

/* Provider Container */
.provider-container {
  display: flex;
  justify-content: space-between;
}

/* Provider Name */
.provider-name {
  margin-left: 10px;
}

/* Chart Header */
.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd; /* สีข้อความในส่วนหัวของกราฟ */
}

/* Chart Title */
.chart-title {
  color: #0071bd !important; /* สีข้อความหัวของกราฟ */
}

/* Price Container */
.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

/* Price Change */
.price-change {
  font-weight: 900 !important;
}

/* Current Price */
.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}

/* Home Heading Container */
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

/* Show More Link */
.show-more {
  margin-top: 0px !important;
}

/* Exchange Image */
.exchange-image {
  margin: 0px 10px !important;
}

/* Search Crypto */
.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

/* Crypto Card Container */
.crypto-card-container {
  min-height: 65vh !important;
}

/* Crypto Card */
.crypto-card {
  min-width: 250px;
}

/* Crypto Image */
.crypto-card .crypto-image {
  width: 35px;
}

/* Select Time Period */
.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

/* Footer */
.footer {
  background-color: #001529; /* สีพื้นหลังของ Footer */
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
